<img src="https://lambdaschool.com/static/assets/images/lambda.png">
<h1>Food Database</h1>
<form action="{{ url_for('search') }}" method="GET">
	<h3>Search</h3>
	<input type="text" name="name" />
	<input type="submit" />
</form>
<h3><a href="/enternew">Add Food</a></h3>
<h3><a href="/list">Show Foods</a></h3>
<h3><a href="/favorite">Favorite Food</a></h3>
<br>
<br>
<br>
<h3>Apply now for a chance to attend one of our immersive programs beginning in April 2017.</h3>
<p>Our immersive programs combine small class sizes, world class instructors, a curriculum comprised of cutting edge technologies, and career counseling to help you begin a successful career as a software engineer.  All at a fraction of the cost of a traditional Computer Science degree.</p>
<h4>Our curriculum includes:</h4>
<ul>
	<li>Computer science fundamentals including data structures, algorithms, complexity analysis, an intro to data science, and more</li>
	<li>Front-end web development using HTML, CSS/SASS, React, Redux, client testing, and more  </li>
	<li>Back-end development including Node/Express, MySQL, MongoDB, Redis, auth/security, devops, server testing, and more </li>
	<li>An introduction to mobile development using React Native</li>
	<li>Agile development</li>
	<li>Interviewing strategies, resume writing, and how to leverage social media and other online resources to help you find the right job</li>
	<li>Long-term career strategies and how to position yourself to not just find a job but to create a successful and lucrative career as a software engineer</li>
</ul>
